@model FinancialPlannerApplication.Models.ViewModels.EditExpenseViewModel

<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-horizontal">
            @using (Html.BeginForm(null, null, FormMethod.Post, new{@id="editExpenseForm"}))
            {
                @Html.HiddenFor(m => m.ExpenseId)
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Amount</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Amount, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Amount)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Interest Rate</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.InterestRate, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.InterestRate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-primary" id="saveExpenseButton">Save</button>
                        @*<button type="submit" class="btn btn-primary">Done</button>*@
                        @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-primary"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/expense-edit.js"></script>